@font-face {
	font-family: 'BarCode3of9';
	src:url('../fonts/free3of9.eot?#iefix21lgsr') format('embedded-opentype'),
		url('../fonts/free3of9.ttf?21lgsr') format('truetype'),
		url('../fonts/free3of9.woff?21lgsr') format('woff'),
		url('../fonts/free3of9.svg?21lgsr#free3of9') format('svg');
	font-weight: normal;
	font-style: normal;
}

.barcode_font { font-family: 'BarCode3of9'; font-size: 54px; font-weight: normal; }

.barcode_font_large { font-family: 'BarCode3of9'; font-size: 70px; font-weight: normal; }