/* CSS Document */
@media print {
  .budget-print .btn {
    visibility: hidden;
  }
}
@media print {
	body{
	padding:0px;
	margin:0px;
	background:#fff;
	display:block;
}	
}
.budget-print
{
	background:#fff;
	
}
.budget-print table thead tr th, .budget-print table tbody tr td{
	font-size:10px;
	padding:3px 2px 3px 2px;
	margin:0px;
	
}
.login-container .panel-body.login{
	background:#000;
    border: 1px solid #F1F1F1;

}

.login-container .panel-footer{background:#fff; text-align:center}

.am-left-sidebar ul li ul li{list-style:none;}
.site-title{padding:10px 0px 0px 0px; color:#fff;}

.list-group-item-info
{
	background-color:#424141;
	
}
.modal-header{
	background-color:#444;
	color:#ccc;
	
}
.modal-header .close
{
	color:#ccc;
	
}

.table thead tr th
{
	background:#F0F0F0;
	color:#444;
	font-weight:bold;
	
}


.paginate { font-family:Arial, Helvetica, sans-serif; padding:3px; margin:0; text-align:center; margin:10px 0px; font-size: 12px; }
.paginate a { padding:2px 5px 2px 5px; margin:2px; border:1px solid #313131; text-decoration:none; color:#111111; }
.paginate a:hover, .paginate a:active { border:1px solid #313131; color:#111111; }
.paginate span.current { margin:2px; padding:2px 5px 2px 5px; border:1px solid #313131; font-weight:bold; background-color:#313131; color:#FFF; }
.paginate span.disabled { padding:2px 5px 2px 5px; margin:2px; border:1px solid #eee; color:#DDD; }

.pagination { font-family:Arial, Helvetica, sans-serif; padding:3px; margin:0; text-align:center; margin:10px 0px; font-size: 12px; }
.pagination a { padding:2px 5px 2px 5px; margin:2px; border:1px solid #313131; text-decoration:none; color:#111111; }
.pagination a:hover, .pagination a:active { border:1px solid #313131; color:#111111; }
.pagination span.current { margin:2px; padding:2px 5px 2px 5px; border:1px solid #313131; font-weight:bold; background-color:#313131; color:#FFF; }
.pagination span.disabled { padding:2px 5px 2px 5px; margin:2px; border:1px solid #eee; color:#DDD; }

.form-group {
    float: left;
    width: 100%;
}

.has-warning .form-control { background: rgba( 239, 98, 98, 0.2 ); border: 1px solid #A84646; color: #666666; }
.has-warning div.form-control { margin-bottom: 20px; }