   .site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
   }
   .site-header a {
   color: #999;
   transition: ease-in-out color .15s;
   }
   .site-header a:hover {
   color: #fff;
   text-decoration: none;
   }
   #map {
   height: 730px;
   width: 100%;
   }
   #icon{
   }
   .bg-dark
   {
   background-color: #02afdc!important;
   }
   #shadow
   {
   text-shadow: 1px 2px 2px #000000;
   }
   #bold{
   color: #02afdc;
   font-weight:  bold;
   }
    #bold2
   {
      font-weight:  bold;
     color: #02afdc;
    padding: 10px;
    border:  1px solid;
    /* border-radius: 5px; */
 
   }

     #bold3
   {
      font-weight:  bold;
     color: #02afdc;
    padding: 10px;
    border:  1px solid;
    /* border-radius: 5px; */
 
   }


   #cyan{
   color: #02afdc;
   }
   .input-group-addon
   {
   width:  40px;
   font-size:  25px;
   background-color: #e9ecef;
   text-align:  center;
   padding-top:  5px;
   border: 1px solid lightgray;
   border-left:  0;
   border-bottom-right-radius:  3px;
   border-top-right-radius: 3px;
   color: #6c757dbd;
   }
   .site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
   }
   .site-header a {
   color: #999;
   transition: ease-in-out color .15s;
   }
   .site-header a:hover {
   color: #fff;
   text-decoration: none;
   }
   .stats
   {
   font-size: 12px;
   margin-left: 10px
   }
   h6
   {
   margin-left: 10px;
   }
   .modal  {
   z-index: 2050;
   }
   #exampleModalCenter {
   z-index: 2050;
   }
  .nav-item
  {
    padding-left: 10px;
    padding-right: 10px;
  }

 