      .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      }
      .switch input {display:none;}
      .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      }
      .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      }
      input:checked + .slider {
      background-color: #2196F3;
      }
      input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
      }
      input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      }
      /* Rounded sliders */
      .slider.round {
      border-radius: 34px;
      }
      .slider.round:before {
      border-radius: 50%;
      }
      .rates
      {
      border-right:  1px solid lightgray;
      border-left: 1px solid lightgray;
      padding-bottom:  20px;
      background-color:  white;
      border-bottom:  1px solid lightgray;
      }
      .form-control
      {
      background-color: #2196f314;
      }
      .form-control:hover
      {
      background-color: #2196f354;
      }
      .form-control:focus
      {
      background-color: #2196f354;
      }
      .table > tbody > tr > td
      {
      padding: 5px;
      }




      
          .bs-example {
                margin: 20px;
            }

            .disabled {
                pointer-events: none;
            }
            .fc-title {
                font-size: 10px;
            }

            /* Switch button */

            .btn-default.btn-on.active {
                background-color: #5BB75B;
                color: white;
            }

            .btn-default.btn-off.active {
                background-color: #DA4F49;
                color: white;
            }

            .btn-default.btn-on-1.active {
                background-color: #006FFC;
                color: white;
            }

            .btn-default.btn-off-1.active {
                background-color: #DA4F49;
                color: white;
            }

            .btn-default.btn-on-2.active {
                background-color: #00D590;
                color: white;
            }

            .btn-default.btn-off-2.active {
                background-color: #A7A7A7;
                color: white;
            }

            .btn-default.btn-on-3.active {
                color: #5BB75B;
                font-weight: bolder;
            }

            .btn-default.btn-off-3.active {
                color: #DA4F49;
                font-weight: bolder;
            }

            .btn-default.btn-on-4.active {
                background-color: #006FFC;
                color: #5BB75B;
            }

            .btn-default.btn-off-4.active {
                background-color: #DA4F49;
                color: #DA4F49;
            }

            .icons {
                display: none;

            }